<footer>
  <div class="footerHead">
    <a class="logo">
      <img src="assets/webp/homepage/logo-ultra.webp" alt="Logo">
    </a>
    <div class="contact">
      <p>do you have any projects? please contact <a href="tel:+918882048525">963 852 7410</a></p>
      <ul class="social">
        <li><a target="_blank"><i class="ri-twitter-fill"></i></a></li>
        <li><a target="_blank"><i class="ri-facebook-circle-fill"></i></a></li>
        <li><a target="_blank"><i class="ri-instagram-fill"></i></a></li>
        <li><a target="_blank"><i class="ri-whatsapp-fill"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="column one">
      <p class="title">contact</p>
      <ul>
        <li><a class="address">86 road brooklyn street, 600 new york, USA</a></li>
        <li><a href="mailto:arpit.940641@gmail.com">help@ArpitAllMight.com</a></li>
        <li><a href="tel:+918882048525">963 852 7410</a></li>
      </ul>
    </div>
    <div class="column two">
      <p class="title">links</p>
      <ul>
        <li><a>our services</a></li>
        <li><a>meet our team</a></li>
        <li><a>our portfolio</a></li>
        <li><a>contact</a></li>
        <li><a>news</a></li>
      </ul>
    </div>
    <div class="column three">
      <p class="title">help or info</p>
      <ul>
        <li><a>about</a></li>
        <li><a>company overview</a></li>
        <li><a>our partner</a></li>
        <li><a>pricing</a></li>
        <li><a>our awards</a></li>
      </ul>
    </div>
    <div class="column four">
      <p class="title">newsletter</p>
      <ul>
        <li class="newsletter">
          <input type="email" id="newsletter" placeholder="email address">
          <a><i class="ri-mail-send-fill"></i></a>
        </li>
        <li class="checkbox">
          <input type="checkbox" id="checkbox">
          <a>i agree to all your terms and policies</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footerBottom">
    <p>&copy; <span id="year"></span> ArpitAllMight Website. All rights reserved.</p>
    <div id="scrollToTop">
      <i class="ri-arrow-up-circle-fill"></i>
    </div>
  </div>
</footer>
