<header>
    <div class="container">
        <a href="#" id="logo"><img src="assets/webp/homepage/logo-ultra.webp" alt="Logo"></a>
        <ul class="headerNav">
            <li><a href="#">home</a></li>
            <li>
                <a>services <i class="ri-arrow-down-s-fill"></i></a>
                <ul id="subNavOne" class="subNav">
                    <li><a href="#">service 1</a></li>
                    <li><a href="#">service 2</a></li>
                    <li><a href="#">service 3</a></li>
                    <li><a href="#">service 4</a></li>
                    <li><a href="#">service 5</a></li>
                </ul>
            </li>
            <li><a href="#">portfolio</a></li>
            <li>
                <a>pages <i class="ri-arrow-down-s-fill"></i></a>
                <ul id="subNavTwo" class="subNav">
                    <li><a href="#">about</a></li>
                    <li><a href="#">company overview</a></li>
                    <li><a href="#">team member</a></li>
                    <li><a href="#">testimonials</a></li>
                    <li><a href="#">events list</a></li>
                    <li><a href="#">gallery</a></li>
                </ul>
            </li>
            <li><a href="#">news</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="callAnytime">
            <div class="icon">
                <i class="ri-chat-smile-line"></i>
            </div>
            <div class="text">
                <p>call anytime</p>
                <a href="tel:+918882048525">92 666 888 000</a>
            </div>
        </div>
        <div class="searchIcon">
            <i class="ri-search-line"></i>
            <div id="searchTab">
                <input type="text" id="inputText" placeholder="search">
                <button type="button" id="searchBTN">
                    <i class="ri-search-2-line"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="hamburger">
        <span class="bar" id="first"></span>
        <span class="bar" id="second"></span>
        <span class="bar" id="third"></span>
    </div>
    <nav id="responsiveNav">
        <ul class="navigation">
            <li><a href="#" class="link">home</a></li>
            <li class="dropdown">
                <span>services<i class="ri-arrow-down-s-fill"></i></span>
                <ul class="subNavigation">
                    <li><a href="#" class="subNavLink">service 1</a></li>
                    <li><a href="#" class="subNavLink">service 2</a></li>
                    <li><a href="#" class="subNavLink">service 3</a></li>
                    <li><a href="#" class="subNavLink">service 4</a></li>
                    <li><a href="#" class="subNavLink">service 5</a></li>
                </ul>
            </li>
            <li><a href="#" class="link">portfolio</a></li>
            <li class="dropdown">
                <span>pages<i class="ri-arrow-down-s-fill"></i></span>
                <ul class="subNavigation">
                    <li><a href="#" class="subNavLink">about</a></li>
                    <li><a href="#" class="subNavLink">company overview</a></li>
                    <li><a href="#" class="subNavLink">team member</a></li>
                    <li><a href="#" class="subNavLink">testimonials</a></li>
                    <li><a href="#" class="subNavLink">events list</a></li>
                    <li><a href="#" class="subNavLink">gallery</a></li>
                </ul>
            </li>
            <li><a href="#" class="link">news</a></li>
            <li><a href="#" class="link">contact</a></li>
        </ul>
    </nav>

</header>
